@using Microsoft.AspNetCore.Http.Extensions;
@{
    string currentUrl = Context.Request.GetEncodedUrl();
}

<!-- Header START -->
<header>
    <nav>
        <a asp-controller="home" asp-action="index">
            <div class="logo-part">
                <img src="~/img/logos/codemyLogo.svg" alt="logo">
                <p>Codemy</p>
            </div>
        </a>
        <ul class="nav-links">
            <ul>
                <li class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                    Kurslar
                </li>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li class="dropdown-item"><a asp-controller="home" asp-action="index"> Ödənişli Kurslar</a></li>
                    <li class="dropdown-item"><a asp-controller="shortLesson" asp-action="index">Qısa dərslər</a></li>
                </ul>
            </ul>
            <ul>
                <li class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                    Əyləncə
                </li>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <li class="dropdown-item"><a asp-controller="event" asp-action="index">Tədbirlər</a></li>
                    <li class="dropdown-item"><a asp-controller="home" asp-action="index">Müsabiqələr</a></li>
                    <li class="dropdown-item"><a asp-controller="home" asp-action="index">Oyunlar</a></li>
                    <li class="dropdown-item"><a asp-controller="home" asp-action="index">Sənəd təsdiqi</a></li>
                </ul>
            </ul>
            <li><a asp-controller="teacher" asp-action="index">Müəllimlər</a></li>
            <li><a asp-controller="about" asp-action="index">Haqqımızda</a></li>
            <li>
                <a href="@(currentUrl)#contact">Əlaqə</a>
            </li>
        </ul>
    </nav>

    <div class="nav-operations">
        <form id="nav-search">
            <input type="search" required placeholder="Search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </form>
        <div class="sign-components">
            <a asp-controller="home" asp-action="index" class="login success">
                Login
            </a>
            <a asp-controller="home" asp-action="index" class="btn btn-success signup">
                Create an Account
            </a>
        </div>
    </div>

    <div class="burger-nav">
        <i class="fa-solid fa-bars-staggered"></i>
        <!-- <i class="fa-solid fa-circle-xmark"></i> -->
        <i class="fa-solid fa-xmark"></i>
        <div class="burger-menu">
            <li class="level-1 parent" id="parent-1"><a>Kurslar</a></li>
            <li class="level-2 child child-1"><a asp-controller="home" asp-action="index">Ödənişli Kurslar</a></li>
            <li class="level-2 child child-1"><a asp-controller="shortLesson" asp-action="index">Qısa dərslər</a></li>

            <li class="level-1 parent" id="parent-2"><a>Əyləncə</a></li>
            <li class="level-2 child child-2"><a asp-controller="event" asp-action="index">Tədbirlər</a></li>
            <li class="level-2 child child-2"><a asp-controller="home" asp-action="index">Müsabiqələr</a></li>
            <li class="level-2 child child-2"><a asp-controller="home" asp-action="index">Oyunlar</a></li>
            <li class="level-2 child child-2"><a asp-controller="home" asp-action="index">Sənəd Təsdiqi</a></li>

            <li class="level-1"><a asp-controller="teacher" asp-action="index">Müəllimlər</a></li>
            <li class="level-1"><a asp-controller="about" asp-action="index">Haqqımızda</a></li>
            <li class="level-1"><a href="@(currentUrl)#contact">Əlaqə</a></li>

            <div class="sign-components">
                <a asp-controller="home" asp-action="index" class="btn btn-success signup">
                    Login or Signup
                </a>
            </div>
        </div>
    </div>
</header>
<!-- Header END -->