
@{
    ViewData["Title"] = "Index";
}

<main>
    <!-- Header START -->
    @await Component.InvokeAsync("Header")
    <!-- Header END -->




    <section id="about-sec">
        <div class="container">
            <div class="about-dividier">
                <h3>Lorem, ipsum dolor.</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto quam perspiciatis laborum iste
                    tempore aliquid, dolorem ea quod nam commodi doloremque ratione error suscipit minus nobis
                    asperiores rerum voluptatem fugit. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Libero molestias ut quae, impedit repudiandae nulla nemo explicabo excepturi, maiores sint quas
                    dignissimos neque odio architecto unde cum enim eveniet autem.
                </p>
            </div>
            <div class="about-dividier">
                <h3>Lorem, ipsum dolor.</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto quam perspiciatis laborum iste
                    tempore aliquid, dolorem ea quod nam commodi doloremque ratione error suscipit minus nobis
                    asperiores rerum voluptatem fugit. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Libero molestias ut quae, impedit repudiandae nulla nemo explicabo excepturi, maiores sint quas
                    dignissimos neque odio architecto unde cum enim eveniet autem.
                </p>
            </div>
            <div class="about-dividier">
                <h3>Lorem, ipsum dolor.</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto quam perspiciatis laborum iste
                    tempore aliquid, dolorem ea quod nam commodi doloremque ratione error suscipit minus nobis
                    asperiores rerum voluptatem fugit. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Libero molestias ut quae, impedit repudiandae nulla nemo explicabo excepturi, maiores sint quas
                    dignissimos neque odio architecto unde cum enim eveniet autem.
                </p>
            </div>
        </div>
    </section>
</main>

<!-- Subscribe START-->
<section class="subscribe-section">
    <div class="container">
        <div class="content">
            <form class="subscription">
                <input class="add-email" type="email" placeholder="subscribe@me.now">
                <button class="submit-email" type="button">
                    <span class="before-submit">Subscribe</span>
                    <span class="after-submit">Thank you for subscribing!</span>
                </button>
            </form>
        </div>
    </div>
</section>
<!-- Subscribe END-->

