* {
    font-family: $base-font;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $dark-color;
}

ul {
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
}


// I will change here
section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;

    .container {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}