.col{
    &-12{
        width: calc(100% / 12 * 12);
    }
    &-11{
        width: calc(100% / 12 * 11);
    }
    &-10{
        width: calc(100% / 12 * 10);
    }
    &-9{
        width: calc(100% / 12 * 9);
    }
    &-8{
        width: calc(100% / 12 * 8);
    }
    &-7{
        width: calc(100% / 12 * 7);
    }
    &-6{
        width: calc(100% / 12 * 6);
    }
    &-5{
        width: calc(100% / 12 * 5);
    }
    &-4{
        width: calc(100% / 12 * 4);
    }
    &-3{
        width: calc(100% / 12 * 3);
    }
    &-2{
        width: calc(100% / 12 * 2);
    }
    &-1{
        width: calc(100% / 12 * 1);
    }
}