// colors
$bck-color: #FFF;
$dark-color: #18181B;
$dark-color-tiny: #18181b55;
$purple-tiny: #64748B;
$purple-tiny-half: #64748b6d;
$purple: #58248C;

// fonts
$base-font: 'Montserrat', sans-serif;
$base-font-weight: 400;
$base-font-size: 16px;

// sizes
$nav-logo-size: 40px;
$nav-logo-text-size: $nav-logo-size/1.6;

// extends


// mixins
