// colors
$bck-color: #FFF;
$dark-color: #18181B;
$grey-white: rgb(238, 238, 238);
$grey-white-half: rgba(238, 238, 238, 0.404);
$grey: rgb(149, 149, 149);
$dark-grey: rgb(91, 91, 91);
$dark-color-tiny: #18181b55;
$purple-tiny: #64748B;
$purple-tiny-half: #64748b6d;
$purple: #58248C;
$gradient-blue-purple: linear-gradient(91.79deg, #3D31D0 0.76%, #BF49BB 105.57%);
$gradient-blue-red-pruple: linear-gradient(148deg, #3D31D0 0%, #DA4545 49.48%, #BF49BB 100%);
$gradient-blue-red:linear-gradient(99.26deg, #3D31D0 -2.58%, #DD2A2A 102.54%);
$gradient-blue-red-change: linear-gradient(99.26deg, #3D31D0 -2.58%, rgb(155, 29, 29) 102.54%);


// fonts
$base-font: 'Montserrat', sans-serif;
$base-font-weight: 400;
$base-font-size: 16px;

// sizes
$nav-logo-size: 40px;
$nav-logo-text-size: $nav-logo-size/1.6;

// extends


// mixins
