@model HomeVM
@{
    ViewData["Title"] = "Index";
}


@await Component.InvokeAsync("Header")




<!-- Landing START -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        @for (int i = 0; i < Model.Sliders.Count; i++)
        {
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@(i)" @(i==0 ? "class=active aria-current=true": "") aria-label="Slide @(i+1)"></button>
        }
    </div>
    <div class="carousel-inner">
        @for (int i = 0; i < Model.Sliders.Count; i++)
        {
            <div class="carousel-item @(i==0 ? "active" : "") ">
                <img src="~/img/slider/@Model.Sliders[i].ImageUrl" class="d-block w-100" alt="slider1">
            </div>
        }
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Landing END -->
<!-- Course Examples START-->
<section id="course-examples">
    <div class="container">
        <h5 class="col-12">Bəzi Kurslar</h5>
        <div class="course-card">
            <a href="">
                <img src="~/img/cards/c-1.png" class="card-img-top" alt="course image">
            </a>
            <div class="card-body">
                <a href="#">
                    <h6 class="teacher-name">Ismayil Teacher</h6>
                </a>
                <a href="#" class="col-12 card-title-direction">
                    <h5 class="card-title">Graphic Design</h5>
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non turpis non dui
                    faucibus
                </p>
                <a href="#" class="btn-more">Daha çox</a>
            </div>
        </div>
        <div class="course-card">
            <a href="#">
                <img src="~/img/cards/c-1.png" class="card-img-top" alt="course image">
            </a>
            <div class="card-body">
                <a href="#">
                    <h6 class="teacher-name">Ismayil Teacher</h6>
                </a>
                <a href="#" class="col-12 card-title-direction">
                    <h5 class="card-title">Graphic Design</h5>
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non turpis non dui
                    faucibus
                </p>
                <a href="#" class="btn-more">Daha çox</a>
            </div>
        </div>
        <div class="course-card">
            <a href="">
                <img src="~/img/cards/c-1.png" class="card-img-top" alt="course image">
            </a>
            <div class="card-body">
                <a href="#">
                    <h6 class="teacher-name">Ismayil Teacher</h6>
                </a>
                <a href="#" class="col-12 card-title-direction">
                    <h5 class="card-title">Graphic Design</h5>
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non turpis non dui
                    faucibus
                </p>
                <a href="#" class="btn-more">Daha çox</a>
            </div>
        </div>
    </div>
</section>
<!-- Course Examples END-->


<div class="col-12 d-flex justify-content-center">
    <div class="line-between-sections"></div>
</div>


<!-- Teacher Examples START-->
<section id="teacher-examples">
    <div class="container">
        <h5 class="col-12">Bəzi Müəllimlər</h5>
        <div class="teacher-card">
            <a href="">
                <img src="~/img/cards/c-2.png" class="card-img-top" alt="course image">
            </a>
            <div class="card-body">
                <a href="#">
                    <h6 class="teacher-name">C++ və Alqoritm</h6>
                </a>
                <a href="#" class="col-12 card-title-direction">
                    <h5 class="card-title">İsmayıl Zeynalov</h5>
                </a>
                <a href="#" class="btn-more">Daha çox</a>
            </div>
        </div>
        <div class="teacher-card">
            <a href="">
                <img src="~/img/cards/c-2.png" class="card-img-top" alt="course image">
            </a>
            <div class="card-body">
                <a href="#">
                    <h6 class="teacher-name">C++ və Alqoritm</h6>
                </a>
                <a href="#" class="col-12 card-title-direction">
                    <h5 class="card-title">İsmayıl Zeynalov</h5>
                </a>
                <a href="#" class="btn-more">Daha çox</a>
            </div>
        </div>
        <div class="teacher-card">
            <a href="">
                <img src="~/img/cards/c-2.png" class="card-img-top" alt="course image">
            </a>
            <div class="card-body">
                <a href="#">
                    <h6 class="teacher-name">C++ və Alqoritm</h6>
                </a>
                <a href="#" class="col-12 card-title-direction">
                    <h5 class="card-title">İsmayıl Zeynalov</h5>
                </a>
                <a href="#" class="btn-more">Daha çox</a>
            </div>
        </div>

    </div>
</section>
<!-- Teacher Examples END-->


<div class="col-12 d-flex justify-content-center">
    <div class="line-between-sections"></div>
</div>


<!-- Short Lesson Examples START-->
<section id="short-lessons-examples">
    <div class="container">
        <div class="card mb-3 col-12">
            <div class="row g-0">
                <div class="col-md-4">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/x_fg8-nJ_ms"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="">
                            <h5 class="card-title">C++ and Algoritmh | if-else working principle</h5>
                        </a>
                        <h6>Ismayil Zeynalov - 3 days ago</h6>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 col-12">
            <div class="row g-0">
                <div class="col-md-4">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/x_fg8-nJ_ms"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="">
                            <h5 class="card-title">C++ and Algoritmh | if-else working principle</h5>
                        </a>
                        <h6>Ismayil Zeynalov - 3 days ago</h6>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Short Lesson Examples END-->
<!-- Subscribe START-->
<section class="subscribe-section">
    <div class="container">
        <div class="content">
            <form class="subscription">
                <input class="add-email" type="email" placeholder="subscribe@me.now">
                <button class="submit-email" type="button">
                    <span class="before-submit">Subscribe</span>
                    <span class="after-submit">Thank you for subscribing!</span>
                </button>
            </form>
        </div>
    </div>
</section>
<!-- Subscribe END-->